/* Buttons and actions */

.rs-register-link a, .rs-button {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    padding: 12px 18px 10px;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid black !important;
    color: black !important;
    box-shadow: none !important;
    transition: box-shadow 0.4s;
}

.rs-register-link a:hover, .rs-button:hover {
    text-decoration: none;
    box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.5) !important;
}

.rs-action {
    margin: 10px 0;
}

/* Single item page */

.rs-single .rs-photo {
    width: 300px;
    float: left;
    margin: 0 20px 0 0;
}

/* Program metabox */

.rs-metabox {
    float: right;
    width: 40%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 10px 10px 10px;
}

.rs-metabox .rs-program-label {
    margin-top: 10px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
}

.rs-metabox .rs-price ul {
    margin: 0;
    list-style: none;
}

.rs-metabox .rs-price .rs-program-label:after {
    content: ":";
}

.rs-metabox .rs-action {
    margin: 10px 0 0 0;
}

.rs-metabox .rs-action .rs-register-link a {
    display: block;
    text-align: center;
}

.rs-metabox .rs-photo {
    width: 100%;
}

/* List */

.rs-list .rs-item .rs-item-title {
    margin-top: 0;
}

.rs-list .rs-item {
    margin-bottom: 2em;
}

.rs-list .rs-photo img {
    width: 300px;
}

.rs-list .rs-item .rs-title {
    margin-top: 0;
}

/* Teacher list */

.rs-list.rs-teacher .rs-item .rs-photo {
    float: left;
    margin: 0 20px 0 0;
}

.rs-list.rs-teacher .rs-item .rs-content {
    overflow: hidden;
}

.rs-single.rs-program .rs-list.rs-teacher .rs-item .rs-photo {
    width: 150px;
}

/* Program list */

.rs-list.rs-program .rs-item .rs-photo {
    float: right;
    margin: 0 0 0 20px;
}

.rs-list.rs-program .rs-item .rs-photo img {
    width: 400px;
}

/* Global */

.rs-content:after,
.rs-item:after {
    content: "";
    display: table;
    clear: both;
}

.rs-date {
    font-weight: bold;
}

.rs-location {
    font-weight: bold;
}

.rs-early-bird-discount {
    border: 1px solid #000;
    background-color: #fff;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rs-registration-no-capacity {
    margin-bottom: 10px;
    font-weight: bold;
    font-style: italic;
}

/* Mobile overrides */

@media screen and (max-width: 769px) {
    .rs-metabox {
        float: none;
        border: none;
        padding: 0;
        margin: 0 0 20px 0;
        width: 100%;
    }

    .rs-photo {
        width: 100% !important;
        float: none !important;
        margin: 20px 0 !important;
    }

    .rs-single.rs-program > .rs-action {
        display: none;
    }

    .rs-list .rs-item .rs-content {
        overflow: visible;
    }

    .rs-list .rs-item .rs-item-title {
        margin-top: 10px;
    }

}

@media screen and (max-width: 769px) {
    table.rs-program,
    table.rs-program thead,
    table.rs-program tbody,
    table.rs-program tr,
    table.rs-program th,
    table.rs-program td {
        display: block;
        margin: 0;
        padding: 0;
        border: none;
    }

    table.rs-program tr {
        margin-bottom: 20px;
    }

    table.rs-program thead tr {
        display: none;
    }

    table.rs-program td.rs-dates {
        font-weight: bold;
        font-size: 80%;
    }

    table.rs-program td.rs-availability {
        display: none;
    }

    table.rs-program td.rs-availability-words {
        display: none;
    }

    table.rs-program td.rs-title {
        font-weight: bold;
    }
}